@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=PT+Sans&family=Raleway&display=swap');

:root {
    --CornflowerBlue: #6495ED;
    --black: #354046;
}

* {
    font-family: 'Bitter', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
}

*::selection {
    background: var(--black);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section {
    overflow: hidden;
}

.button {
    height: 3.5rem;
    width: 15rem;
    background: var(--CornflowerBlue);
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
}

.button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    z-index: -1;
    transition: .2s linear;
}

.button:hover:before {
    top: 0%;
}

.button:hover {
    box-shadow: .1rem .5rem var(--CornflowerBlue),
        0 .3rem .5rem rgba(0, 0, 0, .3);
}

.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 8rem;
    color: var(--black);
}

.heading span {
    color: var(--CornflowerBlue);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    z-index: 1000;
}

.header-active {
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    padding: .5rem 1rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--black);
}

header a:hover {
    color: var(--CornflowerBlue);
}

header .container .logo {
    font-size: 3rem;
}

header .container .logo span {
    color: var(--CornflowerBlue);
}

header .nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .nav ul li {
    margin: 0 1rem;
}

header .nav ul li a {
    font-size: 2rem;
}

header .fa-bars {
    font-size: 3.5rem;
    color: var(--CornflowerBlue);
    cursor: pointer;
    display: none;
}

.home .content h1 {
    font-size: 5rem;
    color: var(--black);
}

.home .content h1 span {
    color: var(--CornflowerBlue);
}

.home .content h3 {
    font-size: 4rem;
    color: var(--black);
}